[2015-03-18 19:44] sarahpearson opened #1 "welcome!"
@jessicacoates  we have set up your project on GitHub!

Your first task is to update the README file in your repository to include all of the relevant names for DACI. You'll find this file here -- https://github.com/creativecommons/global-summit-

To edit the file, click its name, then click the edit icon (looks like a pencil) -- you'll see space for the names. You can link them to the names of th

[2015-03-18 23:19] peterspdx opened #2 "prepare agreement between CC and summit host"

[2015-03-21 00:23] peterspdx opened #3 "prepare code of conduct for summit attendees"

[2015-03-21 00:23] peterspdx commented on #3
Jess, as indicated, I'm very happy to help with this but will leave it to you to direct.

[2015-03-24 11:58] jessicacoates opened #4 "First call with CC Korea Team"
Set responsibilities, establish boundaries

[2015-03-24 12:15] jessicacoates opened #5 "Create planning document"
CC Korea responsible

[2015-03-24 12:18] jessicacoates opened #6 "Create detailed budget"
CC Korea responsible for first draft

[2015-03-24 12:40] jessicacoates opened #7 "Public announcement"
First draft from Ryan
Release once venue finalised
share with affiliates in advance

[2015-03-26 17:15] ryanmerkley opened #8 "Create basic summit website for launch"
Starting this issue to identify MVP components for the summit launch site. It should include:

- sign-up form to get more information (e-mail signup)
- date, location
- "about the conference" info that helps people figure out if the conference is for them

What else?

[2015-03-26 17:18] mattl commented on #8
The form I have currently adds people to a group in CiviCRM, so we can send them update emails.

Do we also want a place to discuss the summit?

Do we want a CFP?

[2015-03-26 17:19] mattl commented on #8
Looping @jessicacoates and @jayaw on this too.

[2015-03-26 17:21] ryanmerkley commented on #8
What's a CFP?

[2015-03-26 17:21] mattl commented on #8
Sorry, Call for Papers.

[2015-03-27 02:14] ryanmerkley commented on #8
Yes, a call for papers is good, though that term feels really academic. I'd like people to feel like they could propose a discussion or workshop without having to write an academic paper.

[2015-03-27 02:15] mattl commented on #8
Yeah, I'll work on some text, more MozFest than SIGGRAPH.
On Mar 26, 2015 10:14 PM, "Ryan Merkley" notifications@github.com wrote:

[2015-03-27 06:41] jessicacoates commented on #8
Happy with all this - though previously I think we've staggered the call for papers with the launch. Also should discuss what we want them to provide - I think we had a form last time where we got them to specify if it was a workshop, talk etc. Need to check with Korea too.

My suggestion is that we aim to launch the registration and call for papers at the end of April, rather than including it in

[2015-03-27 06:41] jessicacoates commented on #8
Happy with all this - though previously I think we've staggered the call for papers with the launch. Also should discuss what we want them to provide - I think we had a form last time where we got them to specify if it was a workshop, talk etc. Need to check with Korea too.

My suggestion is that we aim to launch the registration and call for papers at the end of April, rather than including it in

[2015-03-27 06:45] jessicacoates commented on #8
Here's the form we used for CFP last time - aiming for enough info to be able to schedule without going back to ask for more details.https://docs.google.com/a/creativecommons.org/forms/d/1Fd-oreSn0HwPsrLdMCaX6dkA7EFINmbgEOuPILmVcaE/edit?chromeless=1

can be useful if we have an idea about tracks first too; or we can base tracks on talks submitted.

[2015-03-27 16:59] mattl opened #9 "When can we announce vague location and date?"

[2015-03-30 12:07] jessicacoates commented on #9
Can't work out how to reassign this - but it's not me - Ryan's now on for this. He wants to do the write up.

[2015-03-31 04:17] jessicacoates commented on #4
Minutes here: https://docs.google.com/a/creativecommons.org/document/d/1m-BhPywMhwyb8FZH8hTTkEE6bp-w4J39ZMF3YNiyP5Y/edit

[2015-04-01 11:49] jessicacoates opened #10 "Provide details of venue"
rooms available, maps etc

[2015-04-01 11:52] jessicacoates opened #11 "Hotel planning"
Quotes, options, recommendations

[2015-04-01 12:39] jessicacoates opened #12 "Visa process planning"
Korea should establish what is needed, for which countries. HQ can help with process, letters etc.

No rush - can't do anything until registration opens anyway

[2015-04-02 04:40] soohyunpae commented on #5
Working on it. Will share it by today (Seoul time).

[2015-04-02 04:40] soohyunpae commented on #6
Working on it. Will share it by today (Seoul time).

[2015-04-02 09:43] gwenfranck opened #13 "Dedicated workshop on new intra-affiliate collaboration"
Hi,

as a result of  a call with CC France, and of what we talked about during our last RC call, I was wondering if it would be a good idea to have a dedicated session on how to deal with new forms of collaboration within CC teams. In a lot of teams , there is a bit of tension between new and old members, academics and non academics, legals and non legals, and so on ...
Apologies if it has been me

[2015-04-02 14:18] gwenfranck commented on #13
aha, sorry, just saw your document right now. will add it there!

[2015-04-02 14:18] #13 closed

[2015-04-02 15:55] soohyunpae opened #14 "Add CC Korea team members to github"

[2015-04-02 16:14] mattl commented on #14
You'll need to let me know all their usernames

[2015-04-02 16:18] soohyunpae commented on #14
I'm collecting them now. Will let you know tomorrow.

[2015-04-08 17:54] ryanmerkley commented on #9
Announced!

[2015-04-08 17:54] #9 closed

[2015-04-08 17:54] ryanmerkley commented on #7
Announced. Yah!

[2015-04-08 17:54] #7 closed

[2015-04-09 09:10] soohyunpae commented on #14
@mattl Can you add the following: dalcomnews@gmail.com (username: nanshil), hskang211@gmail.com

[2015-04-10 02:02] soohyunpae commented on #5
Done.
https://docs.google.com/a/creativecommons.org/spreadsheets/d/1LgwK-nbym3-ZowWL9rQ4u9jrl22wcZ9NFi0iVJMwLbg/edit#gid=9

[2015-04-10 02:02] #5 closed

[2015-04-10 02:24] soohyunpae commented on #6
Created. Working on details in consultation w/ Ryan.
https://docs.google.com/a/creativecommons.org/spreadsheet/ccc?key=0Ason8kkrB_x9dFVtSHRZank5dDYwR1k4Q1B2eWI4WFE#gid=0

@jessicacoates We're trying to put everything that might or might not happen into this. Feel free to edit it and let me know if you have any feedback!

[2015-04-10 02:36] soohyunpae opened #15 "Start program planning"
Blank schedule created: https://docs.google.com/a/creativecommons.org/spreadsheets/d/12lft0x3UkZO7vVwKGtjDuw2MnSA0uBxMOQvVPmcW7q8/edit#gid=1659547033

Program planning brainstorming doc shared to CC staff by @jessicacoates :
https://docs.google.com/a/creativecommons.org/document/d/1scG3zbQfqVparTsRm0Qk2rZe52PXgEHQZiAj2vHeQdg/edit

[2015-04-10 15:54] mattl commented on #14
Can you tell me everyone's usernames? If they don't have one, they need to register :)

[2015-04-11 07:33] soohyunpae commented on #14
It's jenniferkang for hskang211@gmail.com. Thanks! :)

[2015-04-17 13:03] soohyunpae commented on #14
@mattl, can you add jenniferkang and nanshil to this repository?

[2015-04-21 03:19] jessicacoates opened #16 "Coordinate Registration"
Set up registration process
work with tech to finalise registration form
organise launch
track when done

[2015-04-21 03:22] jessicacoates opened #17 "Prepare registration form for GS"
Work with Mari to determine the content of the form
get it ready for launch

[2015-04-21 03:25] jessicacoates opened #18 "Coordinate GS Program development"
Set up process
launch CfP
assess proposals
develop final program
work with CC Korea on schedule

[2015-04-21 03:31] jessicacoates opened #19 "Coordinate HQ input to GS Visa process"
talk to CC Korea about what is required for the visa process
coordinate HQ's input eg writing and sending letters

[2015-04-24 12:33] jessicacoates opened #20 "Logo competition"
design and run the logo competition; obtain assignment of logo

[2015-04-28 03:03] peterspdx commented on #2
Draft prepared and sent to SooHyun, Jess, Ryan and Scott.

[2015-04-28 04:52] jessicacoates opened #21 "Side and evening events for Summit"
CC Korea has pretty much free reign to decide these - just tell HQ in advance, and work out budgeting.

[2015-04-28 04:59] jessicacoates opened #22 "Decide and announce Summit theme, key speakers"
Consult with staff and CC Korea, finalise decision and announce to affiliates on:

- Summit theme
- a few key speakers to reach out to
- a few key panels to prep

For use in publicity, attracting sponsors etc

[2015-04-29 06:46] soohyunpae commented on #20
CC Korea team has been planning to make a short announcement about the logo competition on its local  GS website (to be published tomorrow) with dates (May 11 to May 30) and without details about the process and prize. As Nanshil suggested earlier, our original plan is to use the process of the previous competitions and to add a public voting component to it.
But @janeatcc threw in a good idea abo

[2015-04-29 06:49] soohyunpae commented on #10
https://docs.google.com/document/d/1nwgn5SUxer5-EsEfTVAZOYGkcHxnDoT6DdvIrIJ8wkQ/edit

Main venue (National Museum) updated.
More soon.

[2015-04-29 06:50] soohyunpae commented on #6
Shared final estimated budget.

[2015-04-29 06:50] #6 closed

[2015-04-29 12:53] jessicacoates commented on #20
Why don't you write to Jane and Jay to see if they have any specific ideas - I like the idea, but I can't think of anything more significant than mentioning them in the announcement.

We can copy whatever you put together on the HQ GS website - we should coordinate those two, to make sure they have the same information. Have you talked to Matt about what you're doing with your site?

Also - I'm as

[2015-04-29 13:17] mozodev opened #23 "summit.creativecommons.org/kr"
Hello,
I'm Hong, developer, CCKorea team.
This is my first time that I write issue at creativecommons. :)

repository:
http://github.com/creativecommonskorea/2015-summit

temporary domain:
http://summit.cckorea.org

I've just finished up korean landing page.
I'm afraid whether I shoud pull request for those codes to www/summit/kr,
or maybe would it be enough that I just send _site.zip to matt?

Pl

[2015-04-29 14:32] mattl commented on #23
Please send a pull request :)

[2015-04-30 00:29] janetpkr commented on #20
@jayaw what do you think?
I think mentioning them at the very least is important.

Maybe if we encourage them to do something akin to the NP's icon? or get build on that? Don't want to be too constraining though. Whatever guidelines @jayaw and @peterspdx develop should guide derivations in this competition

[2015-04-30 00:58] soohyunpae commented on #20
@jessicacoates Yes, our developer Youngtaek contacted Matt to see how the local GS website can be tied to HQ GS website and how we can coordinate the two.

The local GS site basically has only two features - email update sign-up and a notice that a logo competition will come up soon. We want to launch the website sooner than later to raise interest in public. How about locking down the application

[2015-04-30 01:04] soohyunpae commented on #20
@janeatcc +1 to we should be careful not to be too constraining.

[2015-04-30 05:00] mozodev commented on #23
I tested on local but there were no special issues.
Please review my PR #24

[2015-04-30 08:30] soohyunpae commented on #20
FYI, here's the original plan copied and revised from the last summit:
- Application period: May 1 to May 31
- 1st round: GS organising team (HQ + CC Korea) select 10 designs
- 2nd round: CC affiliates select 5 designs
- 3rd round: Public voting
- Prize: 500 USD

@jessicacoates did we use any voting tool in the past? CC Korea is looking into ways to incorporate a voting system into the Korean GS w

[2015-04-30 08:49] soohyunpae opened #25 "CC Korea on holiday from May 1 to May 5"
This is not an issue exactly, but I thought posting here would be the easiest way to let everyone know about this.

It's a long holiday season from May 1 to May 5 here in Korea and CC Korea officially shuts down during this period. They may check emails from time to time but please expect delayed responses.
But I will be online, so if there's any urgent issues, please feel free to let me know.

[2015-04-30 18:03] jayaw commented on #20
Hi @soohyunpae @janeatcc @jessicacoates  - just speaking frankly from the get-go (and understand that I'm really not versed in the history of Global Summit organizing), based on my experience with logo competitions they don't usually operate efficiently or quickly, and sadly they're never really fair to good design or designers. They are definitely an option - so I'm not suggesting you rule them o

[2015-04-30 18:05] mattl commented on #20
Yeah, see nospec.com

[2015-04-30 22:55] jessicacoates commented on #20
@jayaw I think we've always seen the logo competition as a community development/involvement opportunity in the past, rather than being too worried about getting the best logo possible. We've usually got less than 20 entries (off the top of my head), most of which aren't great (there are some very different aesthetics around the world), but have been very happy with what we've ended up with (see t

[2015-05-13 13:57] mattl commented on #23
So I've accepted this PR. We need to fix a few things, mostly around how bootstrap and jquery are loaded. We should load these from CDN instead of serving them locally.

[code]

[2015-05-13 14:43] #23 closed

[2015-05-13 14:43] mattl commented on #23
Thanks @mozodev

[2015-05-13 14:45] mozodev commented on #23
@mattl You're welcome. :smile:

[2015-05-14 17:22] pgstacey opened #27 "Keynotes"
Define and prioritize keynotes for each day.
Do invites.

[2015-06-03 03:46] #25 closed

[2015-06-03 05:04] soohyunpae commented on #20
The logo competition website will be launched by the end of this week.
Here's a draft announcement for the website: https://docs.google.com/document/d/1L1uW30olOTa6MCZTdZcHya9DDuivuyfueOAgSJ4CGQ8/edit
Feel free to edit the text or add comments if you have any suggestion!

[2015-06-03 10:57] peterspdx commented on #20
I edited and left a comment.  We have always required that all rights in the winning logo be assigned to Creative Commons, in consideration for the cash prize.  I don't see any reason to change that here.  Using copyright licenses for trademarks and logos (especially one that will almost assuredly use one of our protected logos such as the double-c in a circle logo) is not a good practice.  Let me

[2015-06-03 13:15] peterspdx commented on #20
I appreciate that to some this make appear heavy handed, but it isn't, and nobody has objected but instead appreciate that logos are brand identifiers.  It should be treated as such.  We have liberal policies for reuse of the logos on our /policies page, and one item in the queue from our collaboration with jw has been to get these special logos up on a page somewhere with specific reuse permissio

[2015-06-03 13:31] pgstacey commented on #20
Ah, I see, thanks for the clarification Diane.
Paul

On Wed, Jun 3, 2015 at 6:15 AM, Diane Peters notifications@github.com
wrote:

##

Paul Stacey
Associate Director of Global Learning
Creative Commons
pstacey@creativecommons.org

State of the Commons Report https://stateof.creativecommons.org/report/
Get Creative Commons Updates http://bit.ly/commonsnews

[2015-06-04 09:41] soohyunpae commented on #20
Thanks @peterspdx
I revised the text as suggested. Can you please have a look at my comments in the document regarding the license/copyright agreement?

@mattl we're currently developing the logo competition website and hope to launch it by the end of this week (the competition starts on Monday, Jun 7 and ends on Jun 30 UTC.)
Please expect a pull request from @mozodev tonight and let us know wheth

[2015-06-04 13:15] peterspdx commented on #20
@soohyunpae I checked the language in the document, and responded to your comment there.  To reiterate, I would prefer the logos that are not the winning logos be posted on our website or on CC Korea's website rather than to Flickr under a CC license.  See above response to pgstacey for why applying a (c) license to a logo is suboptimal.  I suppose that to the extent the logo doesn't include one o

[2015-06-11 00:51] #17 closed

[2015-06-11 00:54] tvol opened #29 "keynote invite followups from Ryan"

[2015-06-11 16:36] ryanmerkley commented on #29
Update:
- Kahn requires speaker form to be filled out. Asked Board members if they have direct contact.
- CC Korea approaching Benkler directly (he's otherwise away to June 21).

[2015-06-12 02:58] soohyunpae commented on #20
@mattl Can you add an announcement and a link to the logo competition page (http://logo.cckorea.org) to the summit website? Thanks!

[2015-06-12 03:02] soohyunpae commented on #8
This is small, but '한국어' sounds more natural than '한국말' for a written text ;) @mattl

[2015-06-12 05:57] soohyunpae opened #30 "Korean summit website"
https://summit.creativecommons.org/kr/

[2015-06-12 06:23] soohyunpae commented on #29
We're about to reach Benkler and wondering what is the key information that should be included in the email in addition to the dates and location (aiming to send it by this weekend).

Can we say that we will provide business class round-trip flights, hotel, and a small travel stipend for local travel expenses?

[2015-06-12 13:14] mattl commented on #20
Can we make some changes to that page?

First, let's not ask people to submit a JPEG, when a logo would look awful
in that format. A PNG will be better.

Second, let's not assume the world uses proprietary software. Let's ask for
submissions in an open format, like SVG.

Finally, we need to get that page under HTTPS. Happy to talk to whomever we
need to make that happen.

[2015-06-12 17:30] tvol commented on #29
IMO we should try to be a position to offer something like that. I assume he would likely expect it, and hopefully wouldn't also want an honorarium for the talk itself.

[2015-06-17 15:19] mozodev commented on #20
@mattl please review my PR https://github.com/creativecommons/global-summit-/pull/31
and done with https://logo.cckorea.org! Thanks!

[2015-06-17 15:55] mattl commented on #20
All set and it's up on the site :)

---

Matt Lee
Creative Commons
Boston, MA, USA

On Wed, Jun 17, 2015 at 11:19 AM, Yeongtaek Hong notifications@github.com
wrote:

[2015-06-18 18:47] tvol commented on #20
I shared on Twitter (https://twitter.com/creativecommons/status/611585606083194881) and Facebook.

[2015-06-18 22:13] #1 closed

[2015-06-18 22:14] tvol commented on #8
@mattl https://summit.creativecommons.org/cfp/ says summit runs oct 14-17 when big text at top says 15-17. let's make it say the same.

[2015-06-18 22:15] tvol opened #33 "promote summit call for participation and proposals on email lists"
OPN
IOL
CC-Community
OKFN
COMMUNIA
Opencon

what else?

[2015-06-18 23:21] tvol commented on #33
wikimedia retweet
open knowledge retweet and blog
hewlett foundation retweet
ODI retweet
SPARC retweet
EFF retweet
oa button retweet
ia retweet

[2015-06-22 17:17] mattl commented on #8
Can we please not reopen old issues for new things?

[2015-06-22 17:17] #8 closed

[2015-06-23 23:40] tvol opened #34 "offer other options for submitting proposals for GS sessions?"
Pratham Books wants an offline document to download and submit a proposal for GS programming

[2015-06-24 00:10] mattl commented on #34
I'd suggest we just allow people to email a submission and then we enter it into the system ourselves. Anything more than that seems like overkill. Presumably they're okay submitting a document by email, and don't intend to mail/fax.

[2015-06-24 00:14] tvol commented on #34
@mattl yes i think that's fine. Do you want me to dump the info on https://donate.creativecommons.org/civicrm/event/register?reset=1&id=12 into a .doc and .odt and then you upload those with a short note about which email they should send in the completed doc?

[2015-06-24 00:16] mattl commented on #34
Let's just make it a page on the website, they can copy that into an email,
complete it offline? Submitting it in an office document is going to
invariably lead to adding things we can't add to the form, like images or
other attachments.

---

Matt Lee
Creative Commons
Boston, MA, USA

On Tue, Jun 23, 2015 at 8:14 PM, Timothy Vollmer notifications@github.com
wrote:

[2015-06-24 00:17] tvol commented on #34
@mattl :+1:

[2015-06-24 00:31] mattl commented on #34
https://summit.creativecommons.org/cfp-offline/

---

Matt Lee
Creative Commons
Boston, MA, USA

On Tue, Jun 23, 2015 at 8:17 PM, Timothy Vollmer notifications@github.com
wrote:

[2015-06-24 00:36] tvol commented on #34
looks fine. thanks. @mattl do you want to put a teeny tiny mention of that on the normal page at the bottom, or just dole out the offline URL to those who ask?

[2015-06-24 00:44] mattl commented on #34
Give them the URL if they ask, and be sure to point out that the Date for
offline submissions is July 7th.

---

Matt Lee
Creative Commons
Boston, MA, USA

On Tue, Jun 23, 2015 at 8:36 PM, Timothy Vollmer notifications@github.com
wrote:

[2015-06-24 01:04] tvol commented on #33
also communication about different rates after aug 24

[2015-06-24 01:13] tvol commented on #34
@mattl why 7 july?

[2015-06-24 01:22] mattl commented on #34
To give us time to get them all in the system with the rest.

[2015-06-24 01:23] tvol commented on #34
ok

[2015-06-24 17:27] #34 closed

[2015-07-01 03:28] soohyunpae opened #35 "registration fee notice"
Can we add a notice that current early-bird fee is only available until Aug 23 and the fee will go up to 100/70 from Aug 24 to the text on the registration page? We could perhaps include timezone information (is it UTC or Pacific Time?) so that people know the exact deadline regardless of their location.
https://donate.creativecommons.org/civicrm/event/info?reset=1&id=11

@jessicacoates What do yo

[2015-07-02 16:14] pgstacey opened #37 "Access to Global Summit CFP Submissions"
I need to see the proposals that are being submitted in response to our Global Summit call for participation / proposals.
Please let me know how to get access. Thanks.

[2015-07-02 17:27] mattl commented on #37
https://donate.creativecommons.org/civicrm/event/search?reset=1&force=1&status=true&event=12

[2015-07-02 17:58] pgstacey commented on #37
Clicked on link. Get the following message:
"Access denied
You are not authorized to access this page."

[2015-07-02 17:59] mattl commented on #37
Try http://donate.creativecommons.org/user first.

If you don't have a Civi login, let me know and we'll make you one.

---

Matt Lee
Creative Commons
Boston, MA, USA

On Thu, Jul 2, 2015 at 1:58 PM, Stacey notifications@github.com wrote:

[2015-07-02 18:12] pgstacey commented on #37
I don't have a Civi login.

[2015-07-02 18:23] peterspdx commented on #37
I think everyone on the committee that will be reviewing proposals per Jess' latest email should get access before our upcoming meeting.  Or if that's not advisable, is there a way to replicate or send proposals ALSO to another location that's easy to access.

[2015-07-03 15:51] #33 closed

[2015-07-06 02:16] pgstacey commented on #37
Matt, welcome a one on one to discuss options related to my request and Diane's - which are actually different requests, at least the way I'm thinking about the process. Lets chat about process and figure best way forward.

[2015-07-06 11:29] jessicacoates commented on #37
I'd actually vote that the committee members, or at least the affiliate ones, don't get access the proposals until the CfP has closed. That way they are all on the same footing, and people won't start thinking of scores etc until everything is in.

Once they are in, we can either give the committee members access to them online or we can download them all into an external document and give them ac

[2015-07-06 19:09] pgstacey commented on #37
I'm in accord with Jessica. I'm interested in seeing the submissions for rough numbers and an overall sense of the kind of thing coming in but I wasn't thinking all committee members would get access to all the proposals as they come in. To keep the playing field level I believe its better to review them all at the end, after the deadline for submission. Lets discuss this during the Program Select

[2015-07-07 08:29] soohyunpae commented on #37
I also agree with Jess and Paul that it's better to keep proposals away from the committee members until the submission process is closed, for the sake of fairness; whereas, I think access to proposals would be useful to the program committee leads -  i.e. Paul, Jess, and me - and probably some of the Steering Committee.

I don't have particular opinion about the format - either Civi or Google doc

[2015-07-07 08:56] soohyunpae opened #38 "Add a member to Program Selection Committee"
Please add <redacted> to the Summit Program Selection Committee mailing list.
Also it seems the information for the list, cc-commits@lists.ibiblio.org, on teamspace needs to be updated.

[2015-07-07 14:17] mattl commented on #38
Added them. The page on teamspace needs to be figured out, as I have admin passwords that work across all our lists.

[2015-07-07 14:17] #38 closed

[2015-07-07 14:23] mattl commented on #37
So, I suggest making a Civi login for Paul, and when CFP closes, I will export things from Civi into a spreadsheet, remove any personal information and share. I can't give a Civi account to anyone who's not a CC staff member as Civi contains personal information, donor information, etc.

[2015-07-07 14:35] peterspdx commented on #37
+1 to Mattl's suggestion.  All sounds right re data, not having pre-evaluation access, and similar.  Though I think it would have been helpful for staff to have access to some in advance rather than have blind submissions that likely overlap.  Especially now that I'm on this programming call where it's "top priority" get chosen and then it's up to the "winning leader" to identify and then work wit

[2015-07-07 14:41] mattl commented on #37
As mentioned previously, I can also have the CFP form (aka profile) send an email when it is completed, so I could have future submissions go to an alias for Paul/Jess/SooHyun too, if that's useful

[2015-07-07 22:28] pgstacey commented on #37
Diane, from a process point of view we've simply been following the process used for previous summits. Interesting to hear your suggestions for alternative process. I'm open to hearing any other recommendations you have on process - perhaps its best to send them to me directly. I hear what you are saying about the opportunities for matchmaking proposals that overlap. I'm glad you can live with doi

[2015-07-07 22:33] jessicacoates opened #39 "CC-commits mailing list"
Can you add jyoh0131@gmail.com to the mailing list?

Also - if you send me the login details I can manage this from now on, if you like.

[2015-07-07 23:24] mattl commented on #39
Already done in #38

[2015-07-07 23:24] #39 closed

[2015-07-08 13:14] soohyunpae commented on #37
Exporting proposals from Civi into a spreadsheet sounds good to me too.

I would love to receive alert emails for future submissions but more importantly access to the whole list of proposals submitted so far would be really helpful for me in planning things from my end.

[2015-07-08 14:48] mattl commented on #37
Future submissions will come via email. I'll email you what we have so far.

[2015-07-08 14:48] #37 closed

[2015-07-08 14:59] soohyunpae opened #41 "Access to registration list"
@mattl Can you help me get access to the summit registration list? Thanks!

[2015-07-08 15:04] #41 closed

[2015-07-14 18:50] #29 closed

[2015-07-15 00:15] #3 closed

[2015-07-15 00:16] tvol opened #42 "blog post highlighting keynotes"

[2015-07-15 00:17] tvol opened #43 "blog post announcing summit schedule with session highlights"

[2015-07-16 13:17] jessicacoates opened #45 "CfP extension"
Can you please change the date for the closure of the CfP from 17 July to 22 July? We're extending it because of the technical hitch we had with the multiple submissions.

[2015-07-21 06:28] jessicacoates opened #46 "Registration Name Field"
I'm having difficulty tracking down/working with the name field on the registration form.

I've been downloading the registrations so I can create a list to share with the RCs, but I can't work out where the "name" field ends up. I realised quickly it didn't go into First or Last Name. Under Sort Name most of them are email addresses. I thought I'd solved the problem by using Nickname, but a lot o

[2015-07-21 06:38] jessicacoates commented on #46
Same with the CFP registration - where are the names ending up?

[2015-07-21 19:08] mattl commented on #46
So rather than having a first name field, we have a name field. This is
best practice, as not all cultures have a concept of first name like we'd
use it in the USA.

[2015-07-21 22:43] tvol opened #47 "social media announce of winner of logo competition July 23"

[2015-07-21 23:00] tvol commented on #42
- first confirm all are finalized
- even if we don't have which days they'll be speaking at this point its fine
- give heads up to rebecca to see if there's anything we can work in to donor outreach regarding the summit keynote announcement
- give heads up to CC-affiliates before the blog post is published
- also get text on the CC summit website

[2015-07-22 01:12] jessicacoates commented on #46
Yes - I'm fine with that. I'm not objecting to the form at all - what I'm having difficulty with is accessing the information they put in the name field. Where does it end up?

I've tried exporting all the primary fields, and I've tried going through and selecting specific fields, but I still haven't managed to create a list of the names of everyone submitting. I can see on the form that the field

[2015-07-22 09:26] soohyunpae commented on #42
Can you please give heads up to me as well so that I can publicize it locally around the same time?

[2015-07-24 23:43] tvol commented on #42
draft at https://docs.google.com/document/d/1xFgQGKzexRAKXxBL2kf7a9i8eOuBL7UtPy4PVPDRDLE/edit

[2015-07-25 00:17] #45 closed

[2015-07-25 00:20] #27 closed

[2015-07-25 00:22] tvol opened #49 "export summit proposals from CiviCRM for review by committee"

[2015-07-25 01:32] soohyunpae commented on #47
@tvol the announcement is now live on the logo website. https://logo.cckorea.org Can you please do social media announcement? I'm contacting the winner and will follow up if there are more updates - it might be worth to do a short blog post to wrap up the project and recognize the winner, I think. What do you think, @jessicacoates?

[2015-07-25 01:39] tvol commented on #47
ok i'll share over twitter and facebook

[2015-07-25 01:43] tvol commented on #47
@soohyunpae @jessicacoates I think we might want to avoid a blog post at this time because we've asked for changes to the final design from the artist.

[2015-07-27 16:04] #47 closed

[2015-07-27 16:05] tvol commented on #42
it is ready for publishing tomorrow or wed https://creativecommons.org/?p=45830&preview=true

[2015-07-28 18:01] mattl commented on #49
looks like @jessicacoates got this.

[2015-07-28 18:01] #49 closed

[2015-07-28 18:01] tvol commented on #49
:+1:

[2015-07-28 18:41] mattl commented on #46
Did this get figured out?

[2015-07-28 18:50] mattl commented on #35
There's no exact deadline.

[2015-07-28 18:50] #35 closed

[2015-07-28 18:51] tvol commented on #35
@mattl should we then remove the date from the keynote announcement blog post?

[2015-07-28 19:28] mattl commented on #35
No, I mean it'll happen on the 23rd... but it's a "sometime that day thing"

[2015-07-28 19:37] tvol commented on #35
@mattl duly noted.

[2015-07-28 20:08] tvol commented on #42
done https://creativecommons.org/weblog/entry/45830

[2015-07-28 20:08] #42 closed

[2015-07-29 00:40] jessicacoates commented on #46
Not by me - any idea where their names are ending up?

[2015-07-29 15:08] mattl commented on #46
It looks like not everyone has entered a name in a name field, but may be listed in a speaker field.

[2015-07-29 17:16] mattl commented on #47
@soohyunpae can you email me the high res logo?

[2015-07-30 16:44] #46 closed

[2015-07-31 03:08] jessicacoates opened #50 "Name field input missing from Registration data"
This is the same issue as the CFP - whatever people are putting the "name" field isn't appearing in the data you can access under the event on Civi.

They can't be skipping the field - it's compulsory. Plus I would find it very odd if people were skipping the name field in registration.

It's really important we find this data - we need to know who is registered for the event.

If we can't find th

[2015-08-03 17:07] mattl commented on #50
The names are there, happy to show you how to export whatever data you need from Civi. I just did a test and was able to get names, email addresses, visa requirements, etc.

[2015-08-03 17:07] #50 closed

[2015-08-04 03:01] jessicacoates commented on #50
Yup - can you show me how to get the names? I still can't find a way to extract them.

I'm using the export function on the page below, and I still get about half of them coming up as email addresses (like the sort name). I've tried exporting primary contacts and choosing specific fields (is there one I'm missing?).

https://donate.creativecommons.org/civicrm/event/search?reset=1&force=1&status=tr

[2015-08-04 03:03] mattl commented on #50
Export Individual>Nickname. Try that?

[2015-08-04 03:11] jessicacoates commented on #50
Solves the email problem, but you still end up with a lot of single names (eg keeno, tav), numbers etc.

Do we think this is what people are putting in the name field? It just seems odd for so many people not put in their full name when they're registering.

[2015-08-04 03:49] mattl commented on #50
The names are there. Let me know what you want and I'll export tomorrow.

[2015-08-04 22:59] tvol opened #52 "blog post announcing global summit logo competition"
@tvol will get draft to @soohyunpae by 7 August; for publication with CC Korea team week of 10th August

[2015-08-04 23:09] tvol opened #53 "blog post announcing additional keynotes"
@soohyunpae will send bios and photos to @tvol

[2015-08-05 12:01] jessicacoates commented on #50
Just a list of the names that is associated with any other major field (eg their email) so I can align it with the list I've downloaded.

Let me know how you did it too, so hopefully I can replicate it and not have to bother you again.

[2015-08-05 16:03] #14 closed

[2015-08-07 19:04] tvol commented on #53
https://creativecommons.org/?p=45911&preview=true

[2015-08-11 16:36] tvol commented on #53
https://creativecommons.org/weblog/entry/45911

[2015-08-11 16:36] #53 closed

[2015-08-11 16:37] tvol opened #54 "add new speaker photos and bios to summit website"
from here: https://creativecommons.org/weblog/entry/45911

[2015-08-11 16:52] #54 closed

[2015-08-12 15:08] tvol opened #55 "promote facebook page for summit on social media and next blog post"

[2015-08-17 18:11] tvol commented on #52
https://docs.google.com/document/d/1f_bPRUKmOrxdJ88nZ3zJiz86-BlJGyfH0i5k_V-Osm0/edit

[2015-08-18 17:19] #52 closed

[2015-08-18 22:26] tvol opened #56 "add new summit logo to https://summit.creativecommons.org/"

[2015-08-18 23:04] #55 closed

[2015-09-02 13:56] rebeccalendl opened #57 "Update https://summit.creativecommons.org/sponsorship/"
Retitle this page "Sponsors" and update content to serve as a thank you page to sponsors

Header: Thank You to CC 2015 Global Summit Sponsors

Include logo listing with website link by sponsorship amount. I'll send logos and recognition levels over via email. For logos that haven't come in yet, please use written name with website link as a placeholder.

[2015-09-07 17:18] #22 closed

[2015-09-07 17:19] #30 closed

[2015-09-07 17:19] #20 closed

[2015-09-07 17:19] #18 closed

[2015-09-07 17:20] #16 closed

[2015-09-07 17:20] #15 closed

[2015-09-07 17:20] #4 closed

[2015-09-07 17:20] #2 closed

[2015-09-07 17:21] #10 closed

[2015-09-07 17:21] #19 closed

[2015-09-07 17:23] tvol commented on #11
@soohyunpae is looking into options for hotels for participants before the summit begins since CC can't provide hotel for day 0 people

[2015-09-07 17:23] #12 closed

[2015-09-07 17:23] #21 closed

[2015-09-07 17:24] tvol opened #58 "embed Sched into CC summit website"
https://creativecommonsglobalsummit2015.sched.org/

[2015-09-08 13:40] mattl commented on #58
Can you add me and Rob as admins on the Sched account?

[2015-09-08 15:42] tvol commented on #58
@mattl done

[2015-09-08 19:04] rebeccakross commented on #57
Links to a few here, sending zip file via email (can't seem to get it to upload here)
https://drive.google.com/open?id=0B2mMwngN_OW2NU1zMEdWUmtraXM
https://www.mozilla.org/en-US/styleguide/identity/mozilla/branding/
https://drive.google.com/folderview?id=0B2mMwngN_OW2NU1zMEdWUmtraXM&usp=drive_web

[2015-09-09 03:19] rebeccalendl opened #59 "Sched sponsor pages are loaded up - need help downsizing logos to fit"
I'm having trouble getting the sponsor logos small enough for upload sched. Possible for you to take a look and add (or send me) the logo versions you're using for the GS summit sponsor page to see if those work?

[2015-09-09 20:18] pgstacey commented on #58
Matt, do you guys have everything you need to do this embed? Looks like the instructions in Sched.org are pretty straightforward. I'm hoping we can make it public on Thursday? Sequence of events as I see them are:
- Jess sends letters to successful and unsuccessful submitters about whether they made it into the program - hopefully today.
- we send sched.org to affiliates for early viewing - hopefu

[2015-09-09 20:20] mattl commented on #58
Yeah, there's a new homepage coming tomorrow with a big focus on the event,
and the sponsors and schedule pages will be up on the summit website.

---

Matt Lee
Creative Commons
Boston, MA, USA

On Wed, Sep 9, 2015 at 3:18 PM, Stacey notifications@github.com wrote:

[2015-09-09 23:12] tvol commented on #43
draft https://docs.google.com/document/d/1dYXwItGVVvnuYncmI8RRyQoPJgHMHzAd5asjVVsST40/edit
- the sched.org should be shared with affiliates before we post publicly on the CC website
- the blog post will be published on cc website thursday, 10 september.
- social media cc twitter and facebook
- add link to it on the Global Summit Facebook page
- coordinating announcement with soohyun and jennifer f

[2015-09-10 02:41] rebeccakross commented on #43
Triple confirming that we are coordinating the public announcement with our
sponsor page updates. If for any reason this poses a challenge, _please let
me know in advance of public announcement_ so that I can help troubleshoot
and/or communicate with our sponsors as needed.

On Wed, Sep 9, 2015 at 4:12 PM, Timothy Vollmer notifications@github.com
wrote:

[2015-09-10 02:52] tvol commented on #43
@rebeccalendl yes please add the relevant information to the blog post draft. what else needs to be done? is @mattl adding the sponsor info to the summit page at https://summit.creativecommons.org/sponsorship/?

[2015-09-10 02:52] mattl commented on #43
Different page but yes.

[2015-09-10 02:53] tvol commented on #43
@mattl @rebeccalendl ok

[2015-09-10 02:56] tvol commented on #43
@rebeccalendl is there anyone else we want to thank specifically in the blog post? or do we want to also point to the sponsor page that @mattl is setting up?

[2015-09-10 02:58] rebeccakross commented on #43
4 spots: blog post, summit site, sched site, cc site. Matt and I are in touch about it, just want to make sure the timing is all synched up  thanks for the attention to this, super helpful.

[2015-09-11 05:42] #58 closed

[2015-09-11 05:43] #56 closed

[2015-09-11 05:43] #43 closed

[2015-09-16 13:29] mmoreshead opened #60 "Disable scholarship interest form"
https://donate.creativecommons.org/civicrm/profile/create?gid=39&reset=1  Can we take this form down, maybe add a note that says sorry, we aren't accepting any more applications?  Thanks!  ~Mari

[2015-09-16 13:35] #60 closed

[2015-09-17 08:58] soohyunpae opened #61 "change link to Korean summit website"
@mattl can you please change the link to the Korean summit website to summit.cckorea.org?

Thanks!

[2015-09-22 04:11] tvol opened #62 "add link to logistics wiki page somewhere on summit.creativecommons.org"
https://wiki.creativecommons.org/wiki/Global_Summit_2015

[2015-09-22 13:51] #59 closed

[2015-09-22 13:53] rebeccakross commented on #57
@mattl Add MacArthur logo with link at 25k level in three places: 1) summit site and 2) Sched site, and 3) CC supporters page.

[2015-09-24 22:37] tvol opened #63 "social media blasts with speaker videos"
thurs: yochai
fri: roh
sat: chon
sun: reda
mon: merkley
tues: tretikov

[2015-09-24 22:45] tvol commented on #11
captured here: https://wiki.creativecommons.org/wiki/Global_Summit_2015

[2015-09-24 22:45] #11 closed

[2015-09-25 03:11] soohyunpae commented on #57
@rebeccalendl @mattl Can you point me to where I can get the AI files of the logos? We need them for printed materials.

[2015-09-25 15:36] mattl commented on #57
@soohyunpae We don't work with AI files, only SVG and we have no vector versions of any of these logos.

[2015-09-25 16:28] tvol commented on #57
@soohyunpae you can likely find relatively large .png or .jpgs of these on the web

[2015-09-25 16:35] rebeccakross commented on #57
@mattl will you please add MacArthur logo with link at platinum 25k level in three places: 1) summit site and 2) Sched site, and 3) CC supporters page.

@mattl will you please also add Lumen logo with link at bronze 2.5k level in three places: 1) summit site and 2) Sched site, and 3) CC supporters page.
![lumenlogo400x140](https://cloud.githubusercontent.com/assets/13322149/10106290/ac6b8186-6368-

[2015-09-26 00:09] rheaplex commented on #57
Logos added to summit (@mattl, the changes are in the repo), cc and sched.

Any fixes let me know.

[2015-09-26 00:09] #57 closed

[2015-09-28 16:12] #61 closed

[2015-09-28 16:13] #62 closed

[2015-09-29 15:56] tvol commented on #63
done

[2015-09-29 15:56] #63 closed

[2015-09-29 22:47] tvol opened #64 "get info on keynote video streaming"
@soohyunpae do you have more details on this, like what platform will be used and if there is a URL where it will be available?

[2015-09-30 18:33] rebeccakross commented on #64
@mattl on yesterdays global summit call we discussed options for promoting live video streaming in advance via the cc and/or summit website, and potentially using the opportunity to invite people to sign up in advance with an email address and be notified when the live streaming of each keynote starts. please advise on feasibility and if you have recommendations on how you'd like to do this, or I

[2015-09-30 18:35] mattl commented on #64
What do we know about the live streaming setup?

[2015-09-30 18:43] rebeccakross commented on #64
@soohyunpae is getting back with details, we discussed wanting to begin promoting a URL as soon as something is available so will hope to hear more shortly

[2015-09-30 18:45] mattl commented on #64
We need to consider that not everyone will be okay with their talk being
streamed, that talks are under different licenses, etc.

I'll wait for more details before we can figure out the next steps.

[2015-10-01 10:39] soohyunpae commented on #64
Our team is planning to record and live stream (the main auditorium and the seminar room on Oct 15 and the main auditorium and the small auditorium on Oct 16) on our youtube channel. But if you have better suggestions, let me know.
And we will need to ask speakers' approval in advance, of course.

[2015-10-01 14:15] mattl commented on #64
YouTube is probably fine for the live stream. I'd suggest Vimeo for the
recordings as they support the full range of licenses.

[2015-10-01 23:13] rebeccakross commented on #64
@mattl Based on this info, is there any way for us to do advance outreach and list building around this (ie. worth setting up an email sign up and then sending out a 'join us - live stream starts now' kind of thing)?

[2015-10-08 05:42] soohyunpae opened #65 "Close online registration"
@mattl @robmyers can we close the online registration on Friday Oct 9, considering travel time? For Korean website, we are closing the online registration on Monday Oct 12 and will give an advance notice and do a social media. And people who want to register after that can do so on site in Seoul using credit card or cash.

@tvol @mmoreshead

[2015-10-08 16:42] rebeccakross commented on #64
@robmyers here's the info on live streaming, is this enough to run with? if not we need to ping korea team for more details.

[2015-10-08 16:58] rheaplex commented on #64
@rebeccalendl Please can we ping Korea for details.

[2015-10-08 17:03] rebeccakross commented on #64
will do. what specifically do we need? a URL? anything additional?

[2015-10-08 17:09] rheaplex commented on #64
A URL is the main thing. If they're using a service other than one of the big obvious ones then any registration details or browser requirements would be useful.

Thank you.

[2015-10-08 17:28] rebeccakross commented on #64
@soohyunpae can we get a few more details on the live streaming so we can do some outreach? A URL is the main thing we'd need, or any platform registration details or browser requirements would be useful too if applicable.

[2015-10-08 18:44] rheaplex commented on #65
@soohyunpae Yes I'll close this Friday afternoon PST.

[2015-10-09 06:41] soohyunpae commented on #64
As I said earlier, we're using Youtube for the live streaming. So two URLs for each day. But I think we won't have the URLs until we have set things up on site. @mozodev

[2015-10-09 06:46] rheaplex commented on #64
Do you have a landing page for the streams? We'd like to be able to promote
a URL for people who want to watch remotely.
On 8 Oct 2015 11:41 pm, "Soohyun Pae" notifications@github.com wrote:

[2015-10-09 19:23] ryanmerkley commented on #64
Suggestion: Set up a static page at https://summit.creativecommons.org/livestream with copy that says something like: "The CC Global Summit live stream from Seoul, Korea will be available here starting on X date at X time. Please join us then. We will post a schedule of streaming talks as it becomes available."

Plan to embed the CC Korea youtube stream there. We can then start promoting this URL.

[2015-10-09 20:46] rheaplex commented on #64
I have added the page -

https://summit.creativecommons.org/streaming/

I will add the link to the email.

[2015-10-09 20:46] rheaplex commented on #65
I've removed the link from the current version of summit.creativecommons.org, I'll turn off registration in civicrm later.

[2015-10-09 20:46] #65 closed

[2015-10-13 02:39] mozodev commented on #64
Hi, here are live stream info:

[code]

[2015-10-13 03:05] rheaplex commented on #64
Thank you! I've added the details, slightly reformatted, here -

https://summit.creativecommons.org/streaming/

[2015-10-13 03:05] #64 closed

[2015-10-15 01:29] mozodev commented on #64
I know this is insane... live stream url changed.

[code]

[2015-11-05 16:09] peterspdx opened #66 "can we turn back on Sched or somewhere else continue to host schedule, speakers, etc.?"
Need to point funders to it in connection with funding reports post-Summit.

[2015-11-05 16:10] peterspdx commented on #66
Whoops, for some reason a refresh brought it back to live for me. Never mind. Thx.

[2015-11-05 16:10] #66 closed

[2015-11-13 22:52] rebeccalendl opened #67 "Video of PIA talk?"
Possible to clip Rick Falkvinge's 5 min vid for me to send to PIA?

[2015-11-13 22:59] mattl commented on #67
Sure. Do you have the original and roughly when it starts?

[2015-11-13 23:01] rebeccakross commented on #67
Thank you. I don't...should be with the recordings from day one, he went first or second I think so right off the bat

[2015-11-13 23:17] mattl commented on #67
Does this need to go up on the website somewhere?

[2015-11-13 23:19] mattl commented on #67
https://vimeo.com/creativecommonsvideos/review/145690763/d012e63f3b

[2015-11-14 00:51] rebeccakross commented on #67
This is great, thx. Doesn't need to go anywhere, just wanted to get them a copy per their request.

[2015-11-17 15:55] #67 closed

[2015-11-18 21:54] rebeccalendl opened #68 "Video of Ryan's keynote?"
Possible to cut and post on Vimeo with label "Creative Commons' CEO Ryan Merkley's 2015 Global Summit keynote" and share link?

[2015-11-18 21:56] mattl commented on #68
When do you need this by? If you can tell me the day and time in the video
that he speaks...

---

Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Wed, Nov 18, 2015 at 3:54 PM, rebeccalendl notifications@github.com
wrote:

[2015-11-18 22:01] rebeccakross commented on #68
By Friday would be great. Day 2 AM.

[2015-11-18 23:26] mattl commented on #68
I probably can't get it done by then, I have a bunch of other things.

Also an actual start time for the part in question would be useful,
otherwise I'm spending time looking for it.

---

Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Wed, Nov 18, 2015 at 4:01 PM, rebeccalendl notifications@github.com
wrote:

[2015-11-18 23:40] rebeccakross commented on #68
Starts with intro by Paul Brest at 38:30
https://www.youtube.com/watch?v=RWUjhcVBjHo

[2015-11-18 23:46] mattl commented on #68
Great, that helps a lot.

---

Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Wed, Nov 18, 2015 at 5:40 PM, rebeccalendl notifications@github.com
wrote:

[2015-11-19 01:13] jenniferkang commented on #68
Ryan Keynote
https://www.youtube.com/watch?v=qTDMCsfdHkI

All Video
https://www.youtube.com/user/CreativeCommonsKorea/feed
-  Jennifer / CCKOREA -

2015-11-19 8:46 GMT+09:00 Matt Lee notifications@github.com:

##

_강현숙  *Jennifer Kang_[image: cckorea_logo3.png]*

 CCKOREA | 사무국장

_Twitter @hskang      Tel_ 070-7618-0321

hskang211@gmail.com

_Address *_마포구 서교동 363-20 5층 \* (오시는길
http://map.naver.c

[2015-11-23 17:33] rebeccakross commented on #68
Yep, got it. Thanks!

[2015-11-23 17:33] #68 closed

[2016-10-17 14:20] mmoreshead opened #69 "summit@creativecommons.org"
Hey Rob, can you make this email alias go to Alison and I for now?

Thanks!
Mari

[2016-10-17 16:49] rheaplex commented on #69
There was an old group with this name that I removed the (no longer with CC) original members from, added Alison and yourself to, and then allowed public posting to. That should do it.

[2016-10-17 16:49] #69 closed

[2016-10-17 17:04] mmoreshead commented on #69
My hero: @robmyers!